html {
    font-family: 'Verdana', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffcc;
}

body {
    width: 70%;
    margin: 4rem auto;
    border: 3px solid black;
}

header, footer {
    background: #ccaa66;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

footer > * {
    font-style: italic;
    font-size: 0.75rem;
    line-height: 0.2rem;
}


.main {
    background: #f1e8b0;
    flex-grow: 1;
    position: relative;
    padding-left: 25px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main {
    display: flex;
    width: 100%;
}

nav {
    background: #E8D882;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 6rem;
    line-height: 3rem;
}

nav > a {
    text-decoration: none;
}

section > img {
    position: absolute;
    right: 0;
    width: 25%;
    bottom: 0;
    margin: 1rem 1rem;
}